
/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
/* NAVBAR*/
#logo {
    padding-left: 2px;
    align-items: center;
   
}


.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler-icon {
    display: none;
}
#nav-item4{
    align-items: right;
}

.fa-bars {
    font-size: 24px; 
    color: #fff; 
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
    .nav-item {
        margin-bottom: 10px;
    }
}

/* HERO SECTION */
.hero {
    background-image: url('Assets/Jennie2.webp'); 
    background-size: cover;
    font-family: "Playfair Display", serif; 
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 70px;
    color: white;
   
}

.heroes h1 {
    font-size: 70px; 
  }
  .hero:hover {
    animation: fadeIn 0.5s ease-in-out forwards, hoverEffect 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* PRODUCT CARD*/
.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    
}

.card {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.card-colors {
    font-size: 14px;
    color: #ffffff;
}


/* TEAM */
.container h1 {
    text-align: center;
    color: #333333;
    margin-top: 30 px;
  }
  
  .members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .member {
    width: 200px;
    height: 200px; 
    background-color: #ffffff;
    border-radius: 50%; 
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .member img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%; 
  }

  /* ICON SECTION */
  .icon-section {
    padding: 30px 0;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.feature-icon {
    width: 100px; 
    height: auto;
    margin-bottom: 30px;
    
}

/* MAIN CONTENT*/
main {
    margin: 1px;
    padding: 1px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
    margin-bottom: 10px;
    align-items: center;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* FORM */

#contact
{
	background: #000000;
    color: #000000;
	padding-top: 40px;
	padding-bottom: 0px;

}

.contact-form
{
	padding: 15px;
}

::placeholder
{
	color: #ffffff!important;
}

.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa
{
	margin: 10px;
	color: #000000;
	font-weight: bold;
}
@media only screen and (max-width: 600px) {
  }


  
