
/* Reset some default styles */
body, h2, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
  margin-bottom: 20px;
}

h2{
    text-align: center;
}

/* NAVIGATION BAR */
.navbar {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin: 0;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
}

.navbar-toggler-icon {
    font-size: 30px;
    color: #000000;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 1;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.nav-item {
    margin-bottom: rem;
}

.nav-link {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
}

/* -- BURGER MENU STYLES -- */
.navbar-toggler-icon::before {
    content: "\f0c9";
    font-family: "Playfair Display", serif; 
    font-weight: 900;
    
}

.navbar-toggler-icon.open::before {
    content: "\f00d";
}

#nav-toggler {
    position: relative;
}

#nav-toggler::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

#nav-toggler.open::after {
    background-color: transparent;
}

#navbarNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fdfdfd7a;
    color: #333333;
    padding: 1rem;
    display: none;
}

#navbarNav.open {
    display: block;
}

/* HERO SECTION */
.hero { 
    background-image: url('Assets/Heroesbanner.png'); 
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.hero:hover {
        animation: fadeIn 0.5s ease-in-out forwards, hoverEffect 3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes hoverEffect {
        0% {
            transform: scale(1);
        }
        80% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
/* ABOUT US */
.about-container {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.about-container img {
    max-width: 50%;
    height: auto;
}

.about-text {
    max-width: 70%;
}

.about-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-container img {
        max-width: 80%;
        margin: 0 auto 0px;
    }

    .about-text {
        max-width: 100%;
    }
}



/* MAIN CONTENT*/
section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}


/* PRODUCT CARD*/
    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 1200px; 
        margin: 40px auto; 
}
    

    .card {
    flex-basis: 250px; 
    margin: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* This creates a grid with 4 columns */
        gap: 20px; /* This adds some space between the cards */
      }
    
      .card {
        grid-column: span 1; /* This ensures that each card spans only 1 column */
      }

        
    

    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-content {
        padding: 10px;
    }

    .card-title {
        font-family: "Playfair Display", serif; 
        font-size: 15px;
        font-weight: bold;
    }

    .card-price {
        font-family: 'Minion Pro', sans-serif;
        font-size: 15px;
        color: #333;
    }

    .card-colors {
        color: #ffffff;
    }

  
  .button-0 {
    font-family: "Playfair Display", serif; 
    background-color: #89ADBD;
    color: #000000;
    border: 1px solid black;
    padding: 10px  20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
    width: 200%; 



}
  
  .button-0:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #000000;
  }

.fa-heart {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.fa-heart:before {
    content: "";
    display: block;
}


/* TEAM */

.team-section {
    text-align: center;
    padding: 70px;
    background-color: #182B2F;
}
.team-section h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}
.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.team-member {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 200px;
}
.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.team-member h2 {
    font-size: 20px;
    margin: 10px 0;
}
.team-member p {
    color: gray;
    margin: 5px 0;
}
.team-member .social-icons {
    margin-top: 10px;
}
.team-member .social-icons a {
    margin: 0 5px;
    text-decoration: none;
}
.team-member .social-icons img {
    width: 20px;
    height: 20px;
}

/* FORM */
.contact-info {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex: 1; /* Flex property to ensure both have equal width initially */
    min-width: 650px; /* Set a minimum width of 600px */
    margin: 10px 0; /* Add vertical margin */
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 170%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button[type="submit"] {
    background: #182B2F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.contact-form button[type="submit"]:hover {
    background: #444;
}

.contact-info .follow {
    margin-bottom: 20px;
}

.contact-info .follow i {
    font-size: 24px;
    margin-right: 10px;
}

.contact-info .follow a {
    color: #182B2F;
    text-decoration: none;
}

.contact-info .follow a:hover {
    color: #182B2F;
}

/* Responsive design for big screens */
@media (min-width: 1200px) {
    .contact-section {
        max-width: 80%; /* Make the section take up 80% of the screen width on big screens */
    }
}

/* Responsive design for tablets or medium screens */
@media (max-width: 1200px) {
    .contact-section {
        max-width: 90%; /* Make the section take up 90% of the screen width on medium screens */
    }
}

/
@media (max-width: 768px) {
    .contact-section {
        max-width: 100%; /
    }
}


@media (max-width: 576px) {
    .contact-section {
        max-width: 100%; /
    }
}
/* FOOTER */
footer { 
    background-color: #182B2F; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    margin-left: -100px; 
    padding-left: 100px; 
    box-sizing: border-box; 
    position: relative;
    left: 0;
  }



  
