
@media only screen and (max-width: 600px) {
    /* CSS styles for screens less than 600px wide (example: mobile devices) */
  }

/*BODY*/
body{
    margin: 100px;

}


/*NAVBAR*/
    .navbar {
        position: relative;
        background-color: #ffffff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .navbar-brand {
        margin: 0;
    }
    
    .navbar-toggler {
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 24px;
        cursor: pointer;
    }
    
    .navbar-toggler-icon {
        font-size: 30px;
        color: #000000;
        align-items: center;
    }
    
    .navbar-collapse {
        flex-grow: 1;
    }
    
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    
    .nav-item {
        margin-bottom: rem;
    }
    
    .nav-link {
        color: #000000;
        font-size: 14px;
        text-decoration: none;
    }
    
    .nav-link:hover {
        color: #ccc;
    }
  
/* -- BURGER MENU STYLES -- */
    .navbar-toggler-icon::before {
        content: "\f0c9";
        font-family: "Playfair Display", serif; 
        font-weight: 900;
        
    }
    
    .navbar-toggler-icon.open::before {
        content: "\f00d";
    }
    
    #nav-toggler {
        position: relative;
    }
    
    #nav-toggler::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 1;
    }
    
    #nav-toggler.open::after {
        background-color: transparent;
    }
    
    #navbarNav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fdfdfd7a;
        color: #333333;
        padding: 1rem;
        display: none;
    }
    
    #navbarNav.open {
        display: block;
    }
/* -- CART ICON -- */
    .cart-icon {
        position: absolute;
        left: 20px;
        top: 10px;
        font-size: 24px;
        color: #999999;
        text-decoration: none;
    }
    
    .cart-icon:hover {
        color: #3f3f3f;
    }
    
    .cart-count {
        font-size: 14px;
        background-color: #000000;
        color: #fff;
        padding: 2px 5px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        right: -5px;
    }

/* HERO SECTION */
    .hero {
        background-image: url('Assets/Jennie2.webp'); 
        background-size: cover;
        font-family: "Playfair Display", serif; 
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
        
        align-items: left;
        padding-left: 70px;
        color: white;
    
    }

    .heroes h1 {
        font-size: 70px; 
    }
    .hero:hover {
        animation: fadeIn 0.5s ease-in-out forwards, hoverEffect 3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes hoverEffect {
        0% {
            transform: scale(1);
        }
        80% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

/* ABOUT US */
.about-container {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.about-container img {
    max-width: 50%;
    height: auto;
}

.about-text {
    max-width: 70%;
}

.about-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-container img {
        max-width: 80%;
        margin: 0 auto 0px;
    }

    .about-text {
        max-width: 100%;
    }
}
  

/* PRODUCT CARD*/
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 17px;
        padding: 5px;
    }
    
    .card {
        width: 250px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        
    }
    
    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .card-content {
        padding: 10px;
    }
    
    .card-title {
        font-family: "Playfair Display", serif; 
        font-size: 15px;
        font-weight: bold;
    }
    
    .card-price {
        font-family: 'Minion Pro', sans-serif;
        font-size: 15px;
        color: #333;
    }
    
    .card-colors {
        font-size: 14px;
        color: #ffffff;
    }
    
    .fa-heart {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .fa-heart:before {
        content: "";
        display: block;
    }

/* TEAM */
    .container h1 {
        text-align: center;
        color: #333333;
    }

    .members {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
  
    .member {
        width: 200px;
        height: 200px; 
        background-color: #ffffff;
        border-radius: 50%; 
        margin: 20px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex; 
        justify-content: center;
        align-items: center;
    }
  
  .member img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%; 
  }

/* ICON SECTION */
    .icon-section {
        padding: 30px 0;
        text-align: center;
        background-color: #ffffff;
        color: #000000;
        margin-bottom: 40px;
    }

        .feature-icon {
            width: 100px; 
            height: auto;
            margin-bottom: 30px;
            
        }





       

    /* FORM */
.contact-info {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex: 1; /* Flex property to ensure both have equal width initially */
    min-width: 650px; /* Set a minimum width of 600px */
    margin: 10px 0; /* Add vertical margin */
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 170%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button[type="submit"] {
    background: #182B2F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.contact-form button[type="submit"]:hover {
    background: #444;
}

.contact-info .follow {
    margin-bottom: 20px;
}

.contact-info .follow i {
    font-size: 24px;
    margin-right: 10px;
}

.contact-info .follow a {
    color: #182B2F;
    text-decoration: none;
}

.contact-info .follow a:hover {
    color: #182B2F;
}

/* Responsive design for big screens */
@media (min-width: 1200px) {
    .contact-section {
        max-width: 80%; /* Make the section take up 80% of the screen width on big screens */
    }
}

/* Responsive design for tablets or medium screens */
@media (max-width: 1200px) {
    .contact-section {
        max-width: 90%; /* Make the section take up 90% of the screen width on medium screens */
    }
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    .contact-section {
        max-width: 100%; /* Make the section take up 100% of the screen width on small screens */
    }
}

/* Responsive design for very small screens */
@media (max-width: 576px) {
    .contact-section {
        max-width: 100%; /* Make the section take up 100% of the screen width on very small screens */
    }
}


  
  /*color:  #182B2F

/* FOOTER */
footer { 
    background-color: #182B2F; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    width: 120vw; 
    margin-left: -100px; 
    padding-left: 100px; 
    box-sizing: border-box; 
    position: relative;
    left: 0;
  }
